.button {
  @include button-reset;

  @include font($font-family_secondary, $font-size_s, 700, $line-height_s);
  padding: 14px 0 13px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: 1px solid $background-color_primary;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  cursor: pointer;

  @include transition;

  &_big {
    padding: 18px 28px;

    font-size: $font-size_m;
    line-height: 19px;

  }
}

.button:hover,
.button:focus {
  background: $background-color_primary;
  color: $text-color_accent;
}

.button:active {
  opacity: 0.7;
}
