.company-info {
  position: relative;

  max-width: 1920px;
  margin: 0 auto;

  background-color: $background-color_primary;

  &::before,
  &::after {
    content: "";

    z-index: 1;
    position: absolute;

    width: 637px;
    height: 640px;

    background-image: url('../img/triangle-dotted_gray.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  &::before {
    bottom: 56px;
    right: 76.2%;

    transform: rotate(-150deg);
    @include animation-rotation_right;
  }

    &::after {
    bottom: 350px;
    left: 35.2%;

    transform: rotate(30deg);
    @include animation-rotation_left;
  }
}

@media (max-width: $max-width_tablet) {
  .company-info {
    &:before {
      display: none;
    }

    &::after {
      bottom: 293px;
      left: 42.6%;
    }
  }
}

@media (max-width: $max-width_mobile) {
  .company-info {
    &::after {
      bottom: 410px;
      left: -3px;
    }
  }
}
