.page-header {
  @include container_desktop;
  @include font-main();
  color: $text-color_secondary;

  // временно
  background: black;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
}

.page-header__logo {
  &[href]:hover,
  &[href]:focus {
    opacity: 0.7;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__link {
  display: flex;
  align-items: center;
  color: $text-color_secondary;

  svg {
    fill: $text-color_accent;
    @include transition;
  }

  &[href]:hover,
  &[href]:focus {
    color: $text-color_accent;

    svg {
      fill: $text-color_secondary;
    }
  }

  &[href]:active {
    opacity: 0.7;
  }

  @include transition;
}

.page-header__link_email {
  margin-right: 88px;
}

.page-header__link_email .page-header__link-icon {
  margin-right: 20px;
}

.page-header__link_phone {
  margin-right: 50px;
}

.page-header__link_phone .page-header__link-icon {
  margin-right: 16px;
}

.page-header__callback-button {
  width: 180px;
}

@media (max-width: $tablet-width) {
  .page-header {
    @include container_tablet;
  }

  .page-header__inner {
    padding: 20px 0;
  }

  .page-header__link {
    margin-right: 0;
    margin-bottom: 3px;
  }

  .page-header__link-text {
    @include hidden;
  }

  .page-header__link_email {
    margin-right: 34px;
    & .page-header__link-icon {
      width: 25px;
      height: 18px;
      margin-right: 0;
    }
  }

  .page-header__link_phone {
    & .page-header__link-icon {
      width: 24px;
      height: 24px;
      margin-right: 0;
    }
  }

  .page-header__callback-button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    @include container_mobile;
  }

  .page-header__inner {
    padding: 15px 0;
  }

  .page-header__logo {
    margin-top: 2px;
    margin-left: 2px;

    &-image {
      width: 38px;
      height: 38px;
    }
  }

  .page-header__link_email {
    margin-right: 24px;
  }
}
