.social-list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 112px;
}

.social-list__item {
  a {
    display: block;
    line-height: 0;
  }

  svg {
    @include transition;

    fill: $gray_lighter;
  }

  &:hover svg,
  &:focus svg {
    fill: $text-color_accent;
  }
}
