.social-list {
  @include list-reset;

  display: flex;
  align-items: center;
  min-width: 112px;
}

.social-list__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    line-height: 0;
  }

  svg {
    @include transition;

    fill: $gray_lighter;
  }

  &:hover svg,
  &:focus svg {
    fill: $text-color_accent;
  }
}
